# Miscellaneous
*.java.hsp
*.sonarj
*.sw*
.DS_Store
build.sh
integration-repo
ivy-cache
argfile*
activemq-data/
classes/

# Log files
jxl.log
jmx.log
derby.log


#properties

/lottery/src/main/resources/application-local.yml
/lottery/src/main/resources/application-local-db.yml
/lottery/src/main/resources/application-local-token.yml
/lottery/src/main/resources/application-deploy-token.yml
/lottery/src/main/resources/application-deploy-db.yml
/lottery/src/main/resources/application-deploy.yml
/lottery/src/main/resources/application-test.yml

# Gradle artifacts
.gradle
.gradletasknamecache
/build
/lottery/build
buildSrc/build
/spring-*/build
/framework-*/build
/integration-tests/build
/lottery/src/asciidoc/build
spring-test/test-output/

# Maven artifacts
pom.xml
/target/

# Eclipse artifacts, including WTP generated manifests
bin
.classpath
.project
.settings
.springBeans
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml

# VS Code
.vscode/

cached-antora-playbook.yml

node_modules

# lock
*.lock

# xml
*.xml
!lottery/pinpoint-agent-2.5.3/profiles/release/log4j2.xml

# bin
*.bin

# yaml
*.yaml

firebase.json